.format {
    background-color: #fff;
}

.format__list {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 72px 80px;
    grid-template-columns: repeat(3, 1fr);
}

.format__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 30%;
    margin-bottom: 72px;

    &:last-child {
        margin-right: 0;
    }

    &:nth-child(2n) {
        grid-column: 2 / 4;
    }
}

.format__logo {
    height: 76px;
    width: 76px;
    overflow: hidden;
    margin-bottom: 21px;
}

.format__icon {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.format__title {
    font-weight: 500;
    font-size: 27px;
}

.format__title,
.format__subtitle {
    color: #1b212b;
    text-align: center;
}

.format__title {
    font-weight: 600;
    font-size: 25px;
}
.format__subtitle {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.15;
}

.format__subtitle--blue {
    font-weight: 600;
    color: #175e85;
    font-size: 25px;
}
.format__subtitle--red {
    font-weight: 600;
    color: #8f0c18;
    font-size: 25px;
}