.info__list {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.info__item {
    padding: 38px 60px;
    display: flex;
    align-items: center;
}

.info__pic {
    width: 144px;
    height: 144px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 70px;
}

.info__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info__title {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 24px;
    line-height: 1.3;
}

.info__subtitle {
    line-height: 1.3;
}




.info__item-grid-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #8d0c17;
}

.info__item-grid-2 {
    grid-area: 1 / 2 / 2 / 3;
    background-color: #384693;
}

.info__item-grid-3 {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #e3e600;
    color: #1b212b;
}

.info__item-grid-4 {
    grid-area: 2 / 2 / 3 / 3;
    background-color: #cdcdcc;
    color: #1b212b;
}

.info__item-grid-5 {
    grid-area: 3 / 1 / 4 / 3;
    background-color: #0c8d3a;
}