.menu {
    text-transform: uppercase;
    color: #ffffff;
    background-color: $darkColor;
}

.menu__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.menu__item {
    flex-grow: 1;
    text-align: center;
    position: relative;

    &:hover {
        background-color: #2398d6;
    }

    &::before {
        content: "";
        display: block;
        width: 2px;
        height: 90%;
        background-color: #070b11;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(50%, -50%);
        z-index: 10;
        }
}

.menu__link {
    
    display: block;
    width: 100%;
    padding: 20px 0;
    height: 100%;
}